<%- if @rows.any? { |row| row.doc.errors.present? } -%>
  <div class="util-alert">エラーが検出されました。エラーの内容を確認してCSVファイルを修正し再度インポートしてください。</div>
<%- else -%>
  <div class="util-notice">インポートする内容を確認し、画面下部にある「登録する」ボタンを押してください。</div>
<%- end -%>

<%= form_with model: @item, scope: :item, url: { action: :create }, html: { method: :post, multipart: true } do |f| %>
  <table class="cms-list" style="width: 3000px; table-layout: fixed;" data-controller="basic-list">
    <thead>
      <tr>
        <th class="cms-list__url"><%= Docin::Row::NAME %></th>
        <th class="cms-list__status"><%= Docin::Row::STATE %></th>
        <th class="cms-list__title"><%= Docin::Row::TITLE %></th>
        <th style="width: 6rem;"><%= Docin::Row::FEATURE_1 %></th>
        <th style="width: 8rem;"><%= Docin::Row::FEED_STATE %></th>
        <th class="cms-list__category">カテゴリ</th>
        <th style="width: 9rem;"><%= Docin::Row::DISPLAY_PUBLISHED_AT %></th>
        <th style="width: 9rem;"><%= Docin::Row::DISPLAY_UPDATED_AT %></th>
        <th style="width: 9rem;"><%= Docin::Row::TASK_PUBLISH_PROCESS_AT %></th>
        <th style="width: 9rem;"><%= Docin::Row::TASK_CLOSE_PROCESS_AT %></th>
        <th style="width: 5rem;"><%= Docin::Row::INQUIRY_STATE %></th>
        <th style="width: 6rem;"><%= Docin::Row::MARKER_SORT_NO %></th>
        <th style="width: 6rem;"><%= Docin::Row::MAP_COORDINATE %></th>
        <th class="cms-list__file"><%= Docin::Row::FILE_PATH %></th>
        <th class="cms-list__file-name"><%= Docin::Row::FILE_TITLE %></th>
        <th class="cms-list__alt-text"><%= Docin::Row::FILE_ALT_TEXT %></th>
        <th style="width: 6rem;"><%= Docin::Row::FILE_IMAGE_RESIZE %></th>
        <th class="cms-list__title">エラー</th>
      </tr>
    </thead>
    <tbody>
      <%- @rows.each do |row| -%>
        <%- file = row.doc.files.reject { |file| file.marked_for_destruction? }.first -%>
        <tr>
          <td class="cms-list__url"><%= row.name %></td>
          <td class="cms-list__status"><%= row.state_text %></td>
          <td class="cms-list__title"><%= row.title %></td>
          <td style="width: 6rem;"><%= row.feature_1_text %></td>
          <td style="width: 8rem;"><%= row.feed_state_text %></td>
          <td class="cms-list__category"><%= row.category_titles.join(', ') %></td>
          <td style="width: 9rem;"><%=l row.display_published_at %></td>
          <td style="width: 9rem;"><%=l row.display_updated_at %></td>
          <td style="width: 9rem;"><%=l row.task_publish_process_at %></td>
          <td style="width: 9rem;"><%=l row.task_close_process_at %></td>
          <td style="width: 5rem;"><%= row.inquiry_state_text %></td>
          <td style="width: 6rem;"><%= row.marker_sort_no %></td>
          <td style="width: 6rem;"><%= row.map_coordinate %></td>
          <td class="cms-list__file"><%= file&.name %></td>
          <td class="cms-list__file-name"><%= file&.title %></td>
          <td class="cms-list__alt-text"><%= file&.alt_text %></td>
          <td style="width: 6rem;"><%= file&.image_resize %></td>
          <td class="cms-list__title">
            <%- if row.doc.errors.present? -%>
              <span class="note"><%=hbr row.doc.errors.full_messages.to_a.join("\n") -%></span>
            <%- end -%>
          </td>
        </tr>
      <%- end -%>
    </tbody>
  </table>

  <%- unless @rows.any? { |row| row.doc.errors.present? } -%>
    <%= f.hidden_field :csv, value: @csv %>
    <div class="cms-submitters">
      <%= f.submit '登録する', name: :register, data: { confirm: '登録してよろしいですか？' } %>
    </div>
  <%- end -%>
<% end %>
