<%- if @rows.any? { |row| row.doc.errors.present? } -%>
<div class="util-notice">エラーが検出されました。エラーの内容を確認してCSVファイルを修正し再度インポートしてください。</div>
<%- else -%>
<div class="util-notice">インポートする内容を確認し、画面下部にある「登録する」ボタンを押してください。</div>
<%- end -%>

<%= form_with model: @item, scope: :item, url: { action: :create }, html: { method: :post, multipart: true } do |f| %>
  <table class="cms-list">
    <thead>
      <tr>
        <th style="width: 100px;"><%= Docin::Row::NAME %></th>
        <th style="width: 80px;"><%= Docin::Row::STATE %></th>
        <th style="width: 250px;"><%= Docin::Row::TITLE %></th>
        <th style="width: 100px;"><%= Docin::Row::FEATURE_1 %></th>
        <th style="width: 120px;"><%= Docin::Row::FEED_STATE %></th>
        <th style="width: 250px;">カテゴリ</th>
        <th style="width: 180px;"><%= Docin::Row::DISPLAY_PUBLISHED_AT %></th>
        <th style="width: 180px;"><%= Docin::Row::DISPLAY_UPDATED_AT %></th>
        <th style="width: 180px;"><%= Docin::Row::TASK_PUBLISH_PROCESS_AT %></th>
        <th style="width: 180px;"><%= Docin::Row::TASK_CLOSE_PROCESS_AT %></th>
        <th style="width: 50px;"><%= Docin::Row::MARKER_SORT_NO %></th>
        <th style="width: 120px;"><%= Docin::Row::MAP_COORDINATE %></th>
        <th style="width: 250px;"><%= Docin::Row::FILE_PATH %></th>
        <th style="width: 250px;"><%= Docin::Row::FILE_TITLE %></th>
        <th style="width: 250px;"><%= Docin::Row::FILE_ALT_TEXT %></th>
        <th style="width: 250px;"><%= Docin::Row::FILE_IMAGE_RESIZE %></th>
        <th>エラー</th>
      </tr>
    </thead>
    <tbody>
      <%- @rows.each do |row| -%>
        <%- file = row.doc.files.reject { |file| file.marked_for_destruction? }.first -%>
        <tr>
          <td><%= row.name %></td>
          <td><%= row.state_text %></td>
          <td><%= row.title %></td>
          <td><%= row.feature_1_text %></td>
          <td><%= row.feed_state_text %></td>
          <td><%= row.category_titles.join(', ') %></td>
          <td><%=l row.display_published_at %></td>
          <td><%=l row.display_updated_at %></td>
          <td><%=l row.task_publish_process_at %></td>
          <td><%=l row.task_close_process_at %></td>
          <td><%= row.marker_sort_no %></td>
          <td><%= row.map_coordinate %></td>
          <td><%= file&.name %></td>
          <td><%= file&.title %></td>
          <td><%= file&.alt_text %></td>
          <td><%= file&.image_resize %></td>
          <td>
            <%- if row.doc.errors.present? -%>
              <span class="note"><%=hbr row.doc.errors.full_messages.to_a.join("\n") -%></span>
            <%- end -%>
          </td>
        </tr>
      <%- end -%>
    </tbody>
  </table>

  <%= f.hidden_field :csv, value: @csv %>
  <div class="cms-submitters">
    <%= f.submit '登録する', name: :register, data: { confirm: '登録してよろしいですか？' } %>
  </div>
<% end %>
