<%= page_entries_info @items %>

<table class="index">
  <tr>
    <th><%= Cms::Content.human_attribute_name :code %></th>
    <th><%= Cms::Content.human_attribute_name :name %></th>
    <th><%= Cms::Content.human_attribute_name :sort_no %></th>
  </tr>
  <%- @items.each do |item| -%>
  <tr class="<%= cycle '', 'cycle' %>">
    <td><%= item.code %></td>
    <td><%= item.name %></td>
    <td><%= item.sort_no %></td>
  </tr>
  <%- end -%>
</table>

<%= paginate @items %>
