<table class="cms-detail">
  <tr>
    <th><%= @item.class.human_attribute_name :gp_template_content_template_id %></th>
    <td><%= @content.gp_template_content&.name %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :template_ids %></th>
    <td><%= @content.templates.map(&:title).join(', ') %></td>
  </tr>
  <tr>
    <th><%= @item.class.human_attribute_name :default_template_id %></th>
    <td><%= @content.default_template&.title %></td>
  </tr>
</table>
